* {
    box-sizing: border-box;
    cursor: url(https://cur.cursors-4u.net/others/oth-3/oth256.cur), auto !important;
}

html, body {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

main {
    min-height: 100vh;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #530505;
    background-size: cover;
}

img {
    width: 100%;
    height: auto;
}

.logo-harry {
    max-width: 18rem;
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    box-shadow: 2px 1px 5px black;
    width: 100%;
}

.nav-list{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

}

.nav-list li {
    padding: 1rem 3rem;
}

.nav-list a {
    font-size: 22px;
    text-decoration: none;
    color:#9C7F35;
}

a:hover {
    background:#7e672f8c;
    transition: .2s;
}

main {
    margin: auto;
    padding: 0;
}

.introduction{
    width: 100%;
}

.houses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.size {
    padding: 2rem;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.houses-images {
    display: flex;
    flex-grow: 1;
    transition: transform .2s ease;
    cursor: pointer;
}

.houses-images:hover {
    transform:scale(1.1);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    column-gap: 1rem;
    row-gap: 1rem;
}

.card-1 {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    border-radius: 8px;
    padding: 1rem;
    background-image: url(./Images/pergamino.png)
}

p {
    text-align:center;
}

.selector-options {
    display: flex;
    font-size: 1rem;
    font-family: 'Cinzel', serif;
    justify-content: space-around;
    flex-direction: column;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    border-color: black;
    background-color: #E1E0C2;
    box-shadow: 0px 0px 20px 0px #8f8662;
    color: #9C7F35;
    width: 100%;
    max-width: 150px;
}

.discover-magic{
    display: flex;
    font-size: 1rem;
    font-family: 'Cinzel', serif;
    justify-content: space-around;
    flex-direction: column;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 0px 20px 0px #8f8662;
    color: #9C7F35;
    width: 50%;
    max-width: 150px;
}

.discover-magic:hover{
    transform:scale(1.1);
}

#contentHouses {
    display: none;
}

.contentHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.logo-home{
    width: 15%;
    margin-top: 3rem;
}

h1 {
    color: #9C7F35;
    text-align: center;
}

h2 {
    text-align: center;
}

.statistics {
    color: black;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    padding: 3rem;
    height: 40%;
}

.img-statistics{
    width: 25%;
    border-radius:150px;
}

.data-card{
    margin-top: 3rem;
    background-color:#B7955B;
    border-radius:50px;
}

.data-list {
    display:grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    width: 100%;
    padding: 1rem;
}
.card-books{
    margin: 2rem;
    width: 80%;
    text-align: center;
    background-color:#B7955B;
    box-shadow: 0 4px 8px 0 rgba(255, 245, 245, 0.2);
    border-radius: 50px;
    padding: 0.5rem;
}
.autora{
    width: 100%;
}

.letter{
    margin-top: 3rem;
    color: #9C7F35;
}


/* Responsive -------------------- */
@media all and (max-width: 768px) {
    
    html, body {
        font-size: 16px;
    }

    header {
        flex-direction: column;
    }

    .nav-list li {
        padding: 1rem;
    }

    .size {
        padding: 0.5rem;
        width: 50%;
    }

    .logo-home{
        width: 50%;
        margin-top: 3rem;
    }

    .cards {
        grid-template-columns: repeat(1,minmax(0,1fr));
        column-gap: 1rem;
    }

    .data-list {
        grid-template-columns: repeat(1,minmax(0,1fr));
        column-gap: 1rem;
    }
    .letter{
        font-size: 27px;
    }

    .card-books{
        width: 80%;
        border-radius: 30px;
    }
    
    .statistics {
        font-size: 16px;
    }
    
    .img-statistics{
        width: 50%;
        border-radius:100px;
    }
    
    .data-card{
        border-radius:30px;
    }

}
